<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dva Demo</title>
  <!-- <script src="https://maps.google.cn/maps/api/js?key=AIzaSyCDXUbxsqQTY1pS7wBipenFUfB_Y1CW91Q" /> -->
  <script src="http://ditu.google.cn/maps/api/js?v=3.25&key=AIzaSyB2mG9FLX3dYDFycXGkmidn-OZU-FL1rLM" />
  <script>
    window.google = google;
  </script>
  <link rel="stylesheet" href="/index.css" />
</head>
<body>
  <div id="root"></div>
</body>
</html>
